<!doctype>
<html ng-app="MatchLandTool">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/app.css" rel="stylesheet">
</head>
<body ng-controller="MainController">
    
    <table>
        <tr>
            <td><div class="cell axe" ng-click="pickAxe()">&nbsp;</div></td>
            <td><div class="cell sword" ng-click="pickSword()">&nbsp;</div></td>
            <td><div class="cell spear" ng-click="pickSpear()">&nbsp;</div></td>
            <td><div class="cell heart" ng-click="pickHeart()">&nbsp;</div></td>
            <td><div class="cell staff" ng-click="pickStaff()">&nbsp;</div></td>
        </tr>
    </table>

    <table>
        <tr ng-repeat="row in board">
            <td ng-repeat="cell in row" ng-click="dropType(cell)" class="cell {{ cell.type }}"></td>
        </tr>
    </table>

    <td></td>

    <script src="js/angular.js"></script>
    <script src="js/block.js"></script>
    <script src="js/matrix.js"></script>
    <script src="js/app.js"></script>
</body>
</html>